@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Light.ttf');
}

.no-margin-bottom {
   margin-bottom: 0 !important; 
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

a {
    color: #444444;
}

a:hover {
    text-decoration: none;
}

body, html {
    font-size: 10px !important;
    font-family: OpenSans;
}

img {
    float: left;
    min-width: 100%;
    object-fit: cover;
}

@media only screen and (max-width : 480px) {
    img {
        height: 25rem;
    }
    
    .fixed-action-btn {
        right: 23px;
        bottom: 23px;
    }
}

@media only screen and (min-width : 481px) {
    img {
        height: 50rem;
    }
    
    .fixed-action-btn {
        right: 45px;
        bottom: 45px;
    }
}

section {
    overflow: hidden;
}

section + div.row div[class|="col"] {
    padding-left: 8px;
    padding-right: 8px;
}

section + div.row p {
    font-size: 2rem;
}

section + div.row p a {
    font-size: 1rem;
    line-height: 2.8rem;
    color: #444444;
}

[class|="col"] {
    margin-top: 1rem;
}

.col.photo {
    overflow: hidden;
}


.row.footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 14px;
}

.foto-box {
    box-shadow: 2px 2px 10px black;
}

/* material design fix */
.btn-large i {
    font-size: 2.4rem;
}

ul .btn-floating i {
    font-size: 2.4rem;
}

/* container fix */
@media (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1170px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100% !important;
    }
}

.container {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

/* pagination fix */
nav.pagination {
    background-color: transparent !important;
    box-shadow: none !important;
    display: block !important;
    line-height: 1.42857143 !important;
    margin: 0 !important;
    height: auto !important;
}

ul.pager > li {
    float: none;
    height: auto !important;
}

ul.pager > li a {
    line-height: 1.42857143 !important;
    padding: 5px 13px;
    font-size: 14px !important;
}

.pager .disabled > a {
    color: #777 !important;
}

/* modal fix */
.modal {
    background-color: transparent !important;
    width: auto !important;
    max-height: 100% !important;
    font-size: ;
}

.modal .modal-content {
    padding: 0 !important;
}

.modal .modal-footer {
    height: auto;
}

p.instruction {
    font-size: 1.5rem;
}

#inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #FFFFFF;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    float: none;
}

#submitUpload {
    margin-top: 0px;
}

#submitUpload:hover {
    background-color: #009688 !important;
}

#cancelUpload:hover {
    background-color: #f44336 !important;
}

.row {
    margin-bottom: 0;
}

input[type=text] {
    margin-bottom: 0 !important;
    font-size: 1.4rem;
}

input.fileName {
    padding-top: 5px;
    background-color: rgba(212, 212, 212, 0.21);
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: 1.5rem;
}

.btn {
    font-size: 15px;
}

.progress {
    height: 5px;
    margin-bottom: 0 !important;
}

/* error modal */
.modal.error .modal-header {
    background-color: #f44336;
    color: white;
}

.modal.error .modal-body > p {
    font-size: 14px;
    margin: 0;
}

/* validation fix */
label.error {
    font-size: 11px;
}